vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

#common
._.DS_Sortore
Thumbs.db

#composer.lock
composer.lock

#bower folder
public/bower_components/

#uploads
public/upload/advice/*
public/upload/crm/*
public/upload/member/*
public/upload/product/*
public/upload/resource/*

#config files
config/restrose.*

#custom filse
public/custom/

#ico
public/favicon.*
