@charset "utf-8";
/* CSS Document */
#tu1{
	width: 45px ;
	margin: -8px ;
	padding: 0 ;
}

#tu2{ 
    width:100px;
    margin: -110px 0 0 0; 
}
.image_circle{
	background-color:#31708f; border:10px; border-radius:50%;
}
/* 图片上传边框 */
#upload_preview{
    margin-right: -10px;
}
#result{

    text-align:center;
}
/* 图片上传按钮 */
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.list_none{
    list-style-type:none;
}

.menu_icon_info{
    color: #31708f;
    margin: 0 5px 0px 0px;
}

.menu_icon_success{
    color: #5cb95c;
    margin: 0 5px 0px 0px;
}

.menu_icon_warning{
    color: #cd9342;
    margin: 0 5px 0px 0px;
}

.menu_icon_danger{
    color: #d9524e;
    margin: 0 5px 0px 0px;
}

.badge {
  background: #ff5454;
  border: 2px solid white;
  position: absolute;
  top: -110px;
  right: 3px;
  line-height: 8px;
  padding: 4px 6px;
  margin: 15px -8px 0px 0px; 
}
#show{
    margin: -15px 18px 0px 0px; 
}

.xian{ 
	margin-top: -20px;
}

#head_image{
    width: 50px;
    padding: 0px;
    margin: -15px 5px -10px 5px;
}

.pull-right{ 
	margin-top: 18px;
}
.footer {
  	padding: 2.5em 0;
  	text-align: center;
} 

#page-wrapper {
    padding: 15px 15px;
    background: #F3F3F3;
}
.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #7ecef4;

}
.page-head-line {
    font-size: 23px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #7ecef4;
    margin-bottom: 10px;
}

.pagination{ 
	display:table;
	margin:10px auto;
}

.form-group{ 
    text-align:center;
}
.thumbnail{ 
    margin:0px auto;
}

/*面板*/
.hexagon {
  display: inline-block;
  position: relative;
  padding: 45px 0;
  margin-bottom: 20px;
}
.hexagon .inner {
  vertical-align: middle;
  display: table-cell;
  width: 150px;
  height: 87px;
  border-left: 1px solid #28bbf8;
  border-right: 1px solid #28bbf8;
}
.hexagon:before, .hexagon:after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 150px;
  height: 87px;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  border-right: 1px solid #28bbf8;
  border-left: 1px solid #28bbf8;
}
.hexagon:after {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.media.service-box {
  margin: 25px 0 36px;
  text-align: center;
}
 .hexagon .inner .glyphicon {
    text-align: center;
    font-size: 50px;
    width: 100%;
    color: #28bbf8;
}
.media.service-box {
  margin: 25px 0 36px;
  text-align: center;
}
